.banner{
    position: fixed;
    background-color: white;
    margin: 20px;
    bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    left: 0;
    z-index: 10000;
}
.buttonContainer{
    position: absolute;
    top: -15px;
    right: -15px;
    margin: 5px;
}
.button{
    font-size: 20px;
    outline: none;
    border: none;
    background-image: linear-gradient(45deg,blue,red);
    border-radius: 4px;
    cursor: -webkit-grab;
    cursor: grab;
    color: white;
}