.header__image{
    width: 50%;
    margin-left: 25%;
}

.header__grid__item{
    border-radius: 10px; 
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    box-shadow: 0px 0px 10px 0px #d1d3d8;
}
@media only screen and (max-width: 600px) {
    /* .header__grid__item{margin-top: -50px !important;} */
}

.color{
    color:rgb(0, 8, 255);
}
.redBg{
    background-color: red;
}
.whiteColor{
    color: white;
}