.wave1{
    animation: animate1 10s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0px;
}
@keyframes animate1{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x:1000px;
    }
}
/* wave2 */
.wave2{
    animation: animate2 10s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 5px;
}
@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x:-1000px;
    }
}

/* wave3 */
.wave3{
    animation: animate1 10s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -7s;
    bottom: 7px;
}
.wave4{
    animation: animate1 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: 2s;
    bottom: 10px;
}
.main__typography{
    color:white;
}
.second__typography{
    color: rgb(255, 230, 5);
}
.third__typography{
    color: rgb(255, 252, 76);
    text-shadow: 0 2px 1px #747474, 
    -1px 1px 1px #767676, 
    -2px 1.5px 1px #787878, 
    -3px 2px 1px #7a7a7a,
    -4px 2.5px 1px #7f7f7f,
    -5px 3px 1px #838383,
    -6px 3.5px 1px #878787,
    -7px 4px 1px #8a8a8a, 
    -8px 4.5px 1px #8e8e8e,
    -5px 5px 1px #949494,
    -5px 5.5px 1px #989898,
    -5.5px 6px 1px #9f9f9f,
    -6px 6.5px 1px #a2a2a2, 
    -6.5px 7px 1px #a7a7a7,
    -7px 7.5px 1px #adadad,
    -1.5px 8px 1px #b3b3b3,
    -1px 8.5px 1px #b6b6b6,
    -2.5px 9px 1px #bcbcbc, 
    -2px 5.5px 1px #c2c2c2,
    -3.5px 3px 1px #c8c8c8,
    -3px 5.5px 1px #cbcbcb,
    -4.5px 3px 1px #d2d2d2,
    -4px 5.5px 1px #d5d5d5, 
    -5.5px 4px 1px #e2e2e2,
    -5px 6.5px 1px #e6e6e6,
    -6.5px 5px 1px #eaeaea,
    -6px 6.5px 1px #efefef;
}